CONFIG_SENSORS_PWM_FAN=y
CONFIG_TOUCHSCREEN_ELAN5515=n
CONFIG_PC9202_WATCHDOG=y
CONFIG_LEDS_PWM=y
CONFIG_TOUCHSCREEN_HX83102=y
CONFIG_VIDEO_XC7160=y
CONFIG_SPI_WK2XXX=y
CONFIG_OVERLAY_FS=y
CONFIG_CAN_DEV=y
CONFIG_CAN_NETLINK=y
CONFIG_USB_USBNET=y
CONFIG_USB_NET_CDC_MBIM=y
CONFIG_USB_NET_QMI_WWAN=y
CONFIG_CAN=y
CONFIG_CANFD_RK3576=y
CONFIG_GPIO_PCA953X=y
CONFIG_RTL8852BE=y
CONFIG_EXFAT_FS=y
CONFIG_BT_HCIBTUSB=m
CONFIG_GPIO_FIREFLY_DETECT_POSITION=y
#GT9XX for M10R800V3S
CONFIG_TOUCHSCREEN_GT9XXX=y
CONFIG_SND_SOC_ES8389=y

CONFIG_VIDEO_VEYEMVCAM=y
CONFIG_VIDEO_VEYECAM2M=y

# RNDIS
CONFIG_USB_NET_RNDIS_HOST=m
